@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $primary-dark;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid $primary-gold;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: $primary-light;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
