html,
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}
