@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.pricing-category-card {
  background: var(--color-white);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 12px rgba(var(--color-white) 0.8);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(var(--color-black) 0.8);
  }

  .category-thumbnail {
    width: 100%;
    height: 100%rem;
    object-fit: cover;
  }

  .category-content {
    padding: 16px;

    .category-name {
      text-decoration: none;
      font-size: 1.75rem;
      font-weight: 100;
      color: var(--color-black);
      margin-bottom: 8px;
      text-align: center;
    }

    .category-description {
      font-size: 0.875rem;
      color: #6b7280;
    }
  }
}
